<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="melamed.soldeloesteapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VentaActivity"
            android:label="Sector empleados"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".AddToCartActivity"
            android:parentActivityName=".ClientesActivity"
            android:theme="@style/AppThemeNoBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClientesActivity" />
        </activity>
        <activity android:name=".Activity_checkout"></activity>
    </application>

</manifest>